name: Build and deploy ASP.Net Core app to Azure Web App - cloudhub-product-api

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      # Build only Product Service
      - name: Build Product Service
        run: dotnet build ProductService.csproj --configuration Release

      # Publish only Product Service
      - name: Publish Product Service
        run: dotnet publish ProductService.csproj -c Release -o publish

      # Upload artifact
      - name: Upload publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: product-service
          path: publish

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      # Download artifact
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: product-service

      # Deploy to Azure Web App
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: cloudhub-product-api
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
          package: .
